<form action="/games/new" method="post">
  <div class="form-group">
    <label for="title">Title</label>
    <input name="title" type="text" class="form-control" placeholder="Title">
  </div>
  <div class="form-group">
    <label for="imagePath">Image Link (url)</label>
    <input name="imagePath" type="text" class="form-control" placeholder="Image Link">
  </div>
  <div class="form-group">
    <label for="producer">Producer</label>
    <input name="producer" type="text" class="form-control" placeholder="Producer">
  </div>
  <div class="form-group">
    <label for="releaseDate">Release date</label>
    <input name="releaseDate" type="text" class="form-control" placeholder="Release Date">
  </div>
  <div class="form-group">
    <label for="decription">Description</label>
    <textarea name="description" class="form-control" rows="3"></textarea>
  </div>
  <button type="submit" class="btn btn-primary">Submit</button>
</form>
